
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    {% block head %}

    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <a href="#" class="navbar-brand">
                <img src="static/images/Averyx logo.png" height="40" alt="Averyx Group">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="http://localhost:5000" class="nav-item nav-link">Home</a>
                    <a href="http://localhost:5000/description" class="nav-item nav-link">Strategy Descriptions</a>
                    <a href="https://www.averyxgroup.com/" class="nav-item nav-link">About Us</a>
                    <a href="https://www.averyxgroup.com/contact/" class="nav-item nav-link">Contacts</a>
                </div>

            </div>
        </nav>
        <br>
        <br>
    </header>
    {% block body %}
    
    {% endblock %}

    <!-- Footer -->
    <footer class="page-footer font-small blue">

    <!-- Copyright -->
        <div class="footer-copyright text-center py-3 fixed bg-light">© 2021 Copyright:
        <a href="https://mdbootstrap.com/"> Averyx Group</a>
        </div>
    <!-- Copyright -->
  
    </footer>
  <!-- Footer -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>